/site
*.pyc
*.pdf
*.log
*.var
*.var.bak
*.pref
*.halscope
.tmp*
.idea/
*~
*#

hazzy/modules/Miscellaneous/Image2Gcode/gcode\.py
hazzy/modules/Miscellaneous/Image2Gcode/nf\.py
hazzy/modules/Miscellaneous/Image2Gcode/rs274/
