.button {
    border-color: black;
    border-radius: 5px;
    color: black;
    font-size: 14pt;
    background: darkgray;
}

.button:active {
    background-color: gray;
    border-radius: 10px;
}

.background {
    background: gray;
    border-radius: 0px;
}

.frame {
    border-radius: 10px;
    border-width: 4px;
    border-color: black;
}
