@import url("/usr/share/themes/Adwaita/gtk-3.0/gtk.css");

/* Define color scheme */
@define-color text_normal #c4a000;
@define-color text_error #cc0000;
@define-color text_warning #c4a000;




button:checked {
    background: #57c;
    border-color: #2e3436;
    color: #d3d7cf;
    text-shadow: 0 1px #555753;

/*    rgba(255, 255, 255, 0.76923);*/
}


/***************
* WidgetChooser *
***************/

.widget_window {
    border-radius: 5px;
    border-width: 2px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 2px #555753;
}

button#menu_button {
    padding: 0px;
}

.title_bar{
    background: #eeeeec;
    border-radius: 5px;
}

.widget_chooser {
    background-color: rgba(.5, .5, .5, .5);
}

.widget_stack {
/*    background-color: #555753;*/
    background: linear-gradient(153deg, #151515, #151515 5px, transparent 5px) 0 0,
                linear-gradient(333deg, #151515, #151515 5px, transparent 5px) 10px 5px,
                linear-gradient(153deg, #222, #222 5px, transparent 5px) 0 5px,
                linear-gradient(333deg, #222, #222 5px, transparent 5px) 10px 10px,
                linear-gradient(90deg, #1b1b1b, #1b1b1b 10px, transparent 10px),
                linear-gradient(#1d1d1d, #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

/***************
* DroEntry *
***************/
.DroEntry {
    font-family: DejaVu Sans Condensed;
    font-size: 24px;
}

.DroEntry.homing {
    color: @text_warning;
}

.DroEntry.unhomed {
    color: @text_error;
}

@keyframes error {
    from {color: @text_normal;}
    to {color: @text_error;}
}

.DroEntry.error {
    animation-name: error;
    animation-duration: 250ms;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

/***************
* FileChooser *
***************/

button#eject {
    border-radius: 0px;
    padding: 0px;
    border: none;
    background: none;
    box-shadow: inset 0 0 ,
    inset 0 0 ;
}
